@{
    ViewBag.Title = "Contact";
}

<h1 class="text-center"><strong>CONTACT ME</strong></h1>

<div>
    <div class="row">
        <div class="col-md-6 vertical-divider-right">
            <div class="text-center">
                <img class="circular-img" src="~/Content/Img/ProfilePic.png" />
            </div>
            <p class="jumbotron">
                <strong>
                    If you wish to contact me about any opportunities that you may have, please contact me through any
                    one of these methods on the left. Below you can also find a form below if you wish to send me an email
                    directly.
                </strong>
            </p>
        </div>
        <div class="col-md-6 email-label">
            <br />
            <h2><strong>Hermilo Acuna</strong></h2>
            <div class="contact-style">
                <p><strong>Email:</strong> <a href="mailto:hacuna100.site@gmail.com">Hacuna100@gmail.com</a></p><br />
                <p><strong>Phone:</strong> (502) 436-5746</p><br />
                <p><strong>Linkedin:</strong> </p><a href="https://www.linkedin.com/in/hermilo-acuna-4b768a150" target="_blank">Hermilo Acuna</a>
            </div>
        </div>
    </div>
</div>
<!--Email Form-->