@{
    ViewBag.Title = "Error 404";
}

<div class="container-fluid error-img text-center">
    <img class="circular-img-error" src="~/Content/Img/heavyBreathingMeme.jpg" />
</div>
<div class="text-center email-label">
    <h1>It Broke :(</h1>
</div>