<div id="footerIdLinks" class="row">
    <div class="col-sm-4 col-sm-push-6">
        <a class="fa fa-linkedin fa-3x ignore-decor" href="https://www.linkedin.com/in/hermilo-acuna-4b768a150" target="_blank"></a>
        <br />
        <i>Linkedin</i>
    </div>
    <div class="col-sm-4">
        <a class="fa fa-file-text fa-3x ignore-decor" href="@Url.Action("Resume", "Home")" aria-hidden="true"></a>
        <br />
        <i>Resume</i>
    </div>
    <div class="col-sm-4 col-sm-pull-6">
        <a class="fa fa-github fa-3x ignore-decor" href="https://github.com/hacuna100" target="_blank"></a>
        <br />
        <i>Github</i>
    </div>
    <div class="col-sm-12">
        <h6>502.436.5746 | hacuna100@gmail.com</h6>
    </div>
</div>