<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="../">
        <img alt="Brand" src="~/Content/Img/LogoWhite.png" class="navbar-img" />
    </a>
</div>
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Home", "Index", "",
           null, new { @class = "btn btn-lg navbar-btn btn-style" })
        </li>
        <li>
            @Html.ActionLink("Resume", "Resume", "Home",
           null, new { @class = "btn btn-lg navbar-btn btn-style" })
        </li>
        <li>
            @Html.ActionLink("Contact", "Contact", "Home",
           null, new { @class = "btn btn-lg navbar-btn btn-style" })
        </li>
        <li>
            @Html.ActionLink("Portfolio", "Services", "",
           null, new { @class = "btn btn-lg navbar-btn btn btn-style" })
        </li>
    </ul>
</div>